# CORE
NODE_ENV=development
PORT=3000

# DATABASE
DATABASE_TYPE=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_DATABASE=db_name
DATABASE_USERNAME=db_user_name
DATABASE_PASSWORD=db_password
DATABASE_AUTOLOADENTITIES=boolean
DATABASE_SYNCHRONIZE=boolean

# JWT TOKEN
JWT_SECRET=string
JWT_TOKEN_AUDIENCE=URL
JWT_TOKEN_ISSUER=URL
JWT_ACCESS_TTL=number
JWT_REFRESH_TTL=number
