# YOU MUST CREATE A COPY OF THIS FILE NAMED .env, AND PROVIDE VALUES TO THE VARIABLES WITH CORRECT TYPES, OR ZOD WILL THROW AN ERROR WHEN YOU TRY TO START THE SERVER.

# CORE
NODE_ENV=development # Values must be "development" or "production"
PORT=3000 # It must be a number between 1 and 65536, the app will run in this PORT
ALLOWED_ORIGINS="https://example.com, https://example2.com" # It only works when NODE_ENV === production; it is CORS allowed hosts, which must be a list of URLs separated by commas

# DATABASE
DATABASE_TYPE=postgres # Supported types (mysql, postgres, cockroachdb, sap, mariadb, sqlite, cordova, react-native, nativescript, mssql, mongodb, aurora-mysql, aurora-postgres, expo, better-sqlite3, capacitor, spanner)
DATABASE_HOST=localhost # Database server host address
DATABASE_PORT=5432 # Port where the database server is running
DATABASE_DATABASE=db_name # Name of the database
DATABASE_USERNAME=db_user_name # Username with database access privileges
DATABASE_PASSWORD=db_password # Password for the database user
DATABASE_AUTOLOADENTITIES=boolean # Automatically loads registered entities in the application
DATABASE_SYNCHRONIZE=boolean # Automatically syncs database schema with entities (DO NOT use in production)

# JWT TOKEN
JWT_SECRET=string # Secret to sign tokens, MUST NOT BE PUBLIC
JWT_TOKEN_AUDIENCE=URL # Who generated the token
JWT_TOKEN_ISSUER=URL # Generate for who
JWT_ACCESS_TTL=number # Access token lifetime
JWT_REFRESH_TTL=number # Refresh token lifetime

# THROTTLER
THROTTLER_TTL=number # The number of milliseconds that each request will last in storage
THROTTLER_LIMIT=number # The maximum number of requests within the TTL limit
THROTTLER_BLOCK_DURATION=number # The number of milliseconds that request will be blocked for that time
