# CORE
NODE_ENV=development
PORT=3000

# DATABASE
DATABASE_TYPE=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_DATABASE=db_name
DATABASE_USERNAME=db_user_name
DATABASE_PASSWORD=db_password
DATABASE_AUTOLOADENTITIES=boolean
DATABASE_SYNCHRONIZE=boolean
